<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP TEST</title>
</head>
<body>
    <form action="/syntaxapi" method="post">
        text to analyze: <input type="tel" name="text" id="text"> <br>
        <button type="submit">SUBMIT</button>
    </form>

    <br><br>

    You inputted: {{text}} <br> <br><br>
    The tokens: <br>
    
    {% for x in tokens.tokens %}
        {{x}} <br><br><br><br>
    {% endfor %}

</body>
</html>